<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>MyFreeTeamSpeak</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/server" class="btn btn-default btn-sm">Server</a>
        <% if (user.local.isAdmin > 0) { %> <a href="/admin" class="btn btn-default btn-sm">Admin</a> <%} %>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    

            </div>
            <div class="well">
                <h3><span class="fa fa-user"></span> Server #1</h3>

                    <p>
                        <strong>ip</strong>: <%= user.local.ip %><br>
                        <strong>port</strong>: <%= user.local.port %><br>
                        <strong>Online Users</strong>: <%= infoServer.virtualserver_clientsonline %> / <%= infoServer.virtualserver_maxclients %><br>
                        <strong>tokens</strong>: <br>
                        <% if (tokenInfo == "No Keys Available"){ %>
                            No Keys Availablea
                        <%} else if (arraydetect == false) { %>
                            <li> <%= tokenInfo.token %> </li>
                        <%} else {
                         for(var i = 0; i < tokenInfo.length; i++) { %>
                            <li><%= tokenInfo[i].token %></li>
                          <% }} %>
                         %><br>
                    </div>
        </div>

    </div>

</div>
</body>
</html>